Q.1 creat one variable containing following type of data:
string
float 
list
tuple

In [1]:
s = "python developer"

In [2]:
type(s)

str

In [3]:
f = 26.25

In [4]:
type(f)

float

In [5]:
l = [45,57,34,"pwskilla", "assignment",21.12, 23.45, 4+6j]

In [6]:
type(l)

list

In [8]:
t = (45,6,78,9, "sanjay", "tuple",12.24)

In [9]:
type(t)

tuple

given are some following variable containing data:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = [DS, ML, Python]
var4 = 1

In [11]:
var1 = ''

In [12]:
type(var1)

str

In [13]:
var2  = '[DS, ML, Python]'

In [14]:
type(var2)

str

In [15]:
var3 = ['DS', 'ML', 'Python']

In [16]:
type(var3)

list

In [17]:
var4 = 1

In [18]:
type(var4)

int

Q.3 explain the use of the following operators using an example:
/
%
//
**

In [21]:
45/5 #mean of /  returns the quotient of divding the left hand operand by right hand operand

9.0

In [24]:
52%7 # mean of %  returns the remainder of dividing the left hand operand by right hand operand

3

In [28]:
67//3 #this // operator divides the first number by the second number and rounds the result down to the nearest integer

22

In [30]:
5**2 #mean of ** returns the value of the second number to the power of the first number

25

Q.4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [3]:
l = [4,67,89,3,"linkedin", "data science", 12.02, 8+6j]

In [4]:
for i in l:
    print(i, type(i))

4 <class 'int'>
67 <class 'int'>
89 <class 'int'>
3 <class 'int'>
linkedin <class 'str'>
data science <class 'str'>
12.02 <class 'float'>
(8+6j) <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
num1 = int(input("put number 1"))
num2 = int(input("put number 2"))

while num2<=num1:
    if num1%num2==0

Q.6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [35]:
l = [23,45,67,56,78,24,60,37,47,95,9,43,83,26,73,75,27,79,21,48,98,19,16,30,90]

In [36]:
len(l)

25

In [37]:
for num in l:
    if num % 3 == 0:
        print (num,"divided")
        
    else:
        print(num,"not divided")

23 not divided
45 divided
67 not divided
56 not divided
78 divided
24 divided
60 divided
37 not divided
47 not divided
95 not divided
9 divided
43 not divided
83 not divided
26 not divided
73 not divided
75 divided
27 divided
79 not divided
21 divided
48 divided
98 not divided
19 not divided
16 not divided
30 divided
90 divided

Q.7 What do you understand about mutable and immutable data types? Give examples for both showing
this property.
ans:  Immutable data types cannot be changed after they are created, while mutable data types can be modified. example-

In [1]:
s = "helloworld"

In [2]:
s[1] = n

NameError: name 'n' is not defined

In [3]:
l = [345,56,78,"masterclass", "impact2.0", 5+6j, True]

In [4]:
l[2] = 23.23

In [5]:
l

[345, 56, 23.23, 'masterclass', 'impact2.0', (5+6j), True]